.button{
    -fx-text-fill: black;
    -fx-font: bold 16px "Arial";
    -fx-text-alignment: center;
}

.add-button{
     -fx-text-fill: black;
     -fx-font: bold 20px "Arial";
     -fx-text-alignment: center;
     -fx-background-color: white, black, black, darkgrey, lightgrey, white;
     -fx-cell-size: 40, 40;
 }

.menu-bar{
    -fx-font: bold 12px "Arial";
    -fx-background-color: #eaeaea;
}